:root{
    all: unset;
}

*{
    font-family: DM-Sans;
}


html{
    height: 120vh;
}

.html100{
    height: 100vh;
    height: 100dvh;
}

body:has(*.loadingNavBarLink:hover){
    & .LoadingComponent{
        animation: resaltingBorders infinite 1s ease;
    }
}

html:has(*.html100){
    height: 100vh;
}

html:has(noscript#vh100){
    height: 100vh;
}

@media (prefers-color-scheme: light) {
    body{
        background-color: #000000ed;
    }
}

body{
    margin: 0;
    /*background-color: #101010;*/
    /*background-color: hsl(0, 100%, 36%);*/
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, rgba(0, 0, 0, 0.93) 33px ), repeating-linear-gradient( #00000055, #000000 );
    background-repeat: no-repeat;
}

body:has(*.body-OverFlowXHidden){
    overflow-x: hidden;
}

body:has(*.body-OverFlowYHidden){
    overflow-y: hidden !important;
}

body:has(*.body-OverflowHidden) {
    overflow: hidden;
}

body:has(*#noBg){
    background-image: none;
    background-color: #0a0a0a;
}

body:has(*.workspace), body:has(*.explore){
    background: radial-gradient(circle at 50% 130%, #4a3aff, #100c1a 60%) !important;
}

/* * LENGUAGE MODIFICATIONS*/
html:not([lang="en"]) .textNanoMobile{
    font-size: 15px;
}

html:not([lang="en"]) .textNanoMobileOriginal{
    font-size: 13px
}

html:not([lang="en"]) .header{
    font-size: 63px;
}

html:not([lang="en"]) .lenguajeSize{
    font-size: 50px;
}

html:not([lang="en"]) .lenguajeSizeMobile{
    font-size: 43px;
}

html:not([lang="en"]) .loginTitle{
    font-size: 32px;
}

html:not([lang="en"]) :has(label.smallFontLenguages) h2.loginTitle:not([data-page_number~="2"]){
    font-size: 28px !important;
}

html:not([lang="en"]) :has(label.smallFontLenguages) .margin-bottom-1{
    margin-bottom: .4rem;
}

html:not([lang="en"]) :has(label.smallFontLenguages) .errorMessageLabel{
    bottom: .4rem;
}

html:not([lang="en"]) :has(label.smallFontLenguages) .loginTitle{
    margin-bottom: .5rem;
}

.labelTitle{
    margin-bottom: .8 !important;
}

html:not([lang="en"]) .navlink#variable{
    padding-left: 0 !important;
    padding-right: .3rem !important;
    font-size: 11px;
}

html:not([lang="en"]) .loginTitle[data-page_number~="2"]{
    font-size: 26px !important;
}

html:not([lang="en"]) .labelTitle[data-page_number~="2"]{
    font-size: 16px !important;
}

html:not([lang="en"]) .errorMessageLabel[data-page_number~="2"]{
    font-size: 12.5px !important;
}

html:not([lang="en"]):has(a[href~="/signIn"]#variable) a[href~="/signIn"]#variable{
    font-size: 11px !important;
}

/* * DEV BACKGROUNDS*/

.bgRed{
    background-color: red;
}

.bgWhite{
    background-color: white;
}

.bgGray{
    background-color: rgb(202, 202, 202);
}

.bgBlue{
    background-color: blue;
}

.bgTransparent{
    background-color: transparent !important;
}

.bgPopUp{
    background-color: #101010dc !important;
}

.bgWindow{
    background-color: #101010 !important;
}

.bgWindowOriginal{
    background-color: #10101063;
    backdrop-filter: blur(2px);
}

.bgWindowDarkened{
    background-color: #101010ec !important;
    backdrop-filter: blur(4px) !important;
}

.bgCross{
    background-color: #0a0a0a;
    background: radial-gradient(circle, transparent 20%, #0a0a0a 20%, #0a0a0a 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #0a0a0a 20%, #0a0a0a 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#242424 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #242424 1.4000000000000001px, #0a0a0a 1.4000000000000001px) -0.7000000000000001px 0;
    background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}

.bgZigZag{
    background-color: #0a0a0a;
    background: linear-gradient(135deg, #24242455 25%, transparent 25%) -12px 0/ 24px 24px, linear-gradient(225deg, #242424 25%, transparent 25%) -12px 0/ 24px 24px, linear-gradient(315deg, #24242455 25%, transparent 25%) 0px 0/ 24px 24px, linear-gradient(45deg, #242424 25%, #0a0a0a 25%) 0px 0/ 24px 24px;
}

.bgDots{
    background-color: rgb(10, 10, 10);
    background: radial-gradient(rgb(36, 36, 36) 1.9px, rgb(10, 10, 10) 1.9px);
    background-size: 38px 38px;
}

.bgDiagonalDots{
    background-color: #0a0a0a;
    background:  radial-gradient(#242424 1.5px, transparent 1.5px), radial-gradient(#242424 1.5px, #0a0a0a 1.5px);
    background-size: 60px 60px;
    background-position: 0 0,30px 30px;
}

.bgBlueS{
   --background-color:  hsl(175, 50%, 15%) !important;
}

.opacity100{
    opacity: 1;
}

.opacity90{
    opacity: .9;
}


/* * LOGO STYLES*/

.logo{
    width: 2rem;
    height: 3rem;
    user-select: none;
    pointer-events: none;
    transition: 500ms ease;
}

.logoContainer{
    display: flex;
    gap: 15px;
    margin-left: 0rem;
}

.logoSeparator{
    margin-top: 4%;
    width: 1px;
    height: 75%;
    background-color: #f0f0f046;
}

.spinningLogo{
    width: 2rem;
    height: 3rem;
    transition: 300ms ease;
}

.spinningLogo:hover{
    transform: rotateZ(-360deg);
    transition: 300ms ease;
}

.logoHeader{
    user-select: none;
}

body:has(.spinningLogo:hover) .logoHeader{
    color: #4dc2ff;
    transition: 200ms ease;
}

/* * NAVBAR STYLES*/

.navbar{
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #0f0f0f;
    border-bottom: #242424 1px solid;
    display: flex;
    justify-content: space-between;
}

.navbarTranslucent{
    background-color: #0f0f0fc9;
}

.navlinks{
    display: flex;
    gap: 3rem;
}

.navlink{
    display: inline;
    vertical-align: bottom;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    line-height: 200%;
    transition: 200ms ease;
}

.text-ellipsis{
    text-overflow: ellipsis;
}

.text-noWrap{
    text-wrap: nowrap;
}

.text-wrap{
    white-space: pre-wrap;   /* Mantiene saltos de línea manuales, pero permite ajuste automático */
    word-wrap: break-word;   /* Permite que las palabras largas se rompan */
    overflow-wrap: break-word; /* (moderno) lo mismo que word-wrap */
}

.text-noWrap-Overflow-textWrap {
  white-space: nowrap;         /* Normalmente no hace wrap */
  overflow-wrap: break-word;   /* Pero rompe palabras si se desborda */
  word-break: break-word;      /* Para compatibilidad extra */
}

.text-hover{
    color: white;
    transition: 200ms ease;
}

.navlink:hover, .text-hover:hover{
    color: #4dc2ff;
    transition: 200ms ease;
}

.navLinkSeparator{
    color: #f0f0f0bb;
    font-size: 25px;
    user-select: none;
}

.navLinkSeparator::after{
    content: "/";
}

/* * UTILS*/
    /* * Sizes*/
    .w-fitContent{
        width: fit-content;
    }

    .w120{
        width: 120%;
    }

    .w100wv{
        width: 100vw;
    }

    .w100{
        width: 100%;
    }

    .w50Minus05{
        width: calc((100% - 1rem) / 2);
    }

    .w50{
        width: 50%;
    }

    .w40{
        width: 40%;
    }

    .w35{
        width: 35%;
    }

    .wi35{
        min-width: 35%;
    }

    .w25{
        width: 25%;
    }

    .wi25{
        min-width: 25%;
    }

    .wia100Minus10vW{
        min-width: calc(100vW - 10vW);
        max-width: calc(100vW - 10vW);
    }

    .aspect-ratio-1{
        aspect-ratio: 1 / 1;
    }
    
    .aspect-ratio-A4{
        aspect-ratio: 1 / 1.41;
    }

    .w95{
        width: 95%;
    }

    .w90{
        width: 90%;
    }

    .w90vW{
        width: 90vW;
    }

    .w80{
        width: 80%;
    }

    .w75{
        width: 75%;
    }

    .h-fitContent{
        height: fit-content !important;
    }

    .hMax10{
        max-height: 10rem;
    }

    .hauto{
        height: auto;
    }

    .h100{
        height: 100%;
    }

    .h100Less50px{
        height: calc(100dvh - 50px) !important;
    }

    .h1px{
        height: 1px;
    }

    .h100vh{
        height: 100vh;
    }

    .h100dvh{
        height: 100dvh;
    }

    .h70vh{
        height: 70vh;
    }

    .ha70vhcalc{
        max-height: calc(100vh - 30vh);
    }

    .ha70vh{
        max-height: 70vh;
    }

    .h60vh{
        height: 60vh;
    }

    .ha60vh{
        max-height: 60vh;
    }

    .ha60vhcalc{
        max-height: calc(100vh - 40vh);
    }

    .h65vhcalc{
        height: calc(100vh - 35vh);
    }

    .ha65vhcalc{
        max-height: calc(100vh - 35vh);
    }

    .ha65dvhcalc{
        max-height: calc(100dvh - 35vh);
    }

    .h80vh{
        height: 80vh;
    }

    .h40vh{
        height: 40vh;
    }

    .h75vh{
        height: 75vh;
    }

    /* * Margins*/
    .margin-0{
        margin: 0 !important;
    }

    .margin-1{
        margin: 1rem !important;
    }

    .margin-0-1{
        margin: 0rem 1rem;
    }

    .margin-1-0{
        margin: 1rem 0rem;
    }

    .margin-top-0{
        margin-top: 0;
    }

    .margin-auto{
        margin: auto;
    }

    .margin-0-auto{
        margin: 0 auto;
    }

    .margin-auto-0{
        margin: auto 0;
    }

    .margin-auto-auto{
        margin: auto auto;
    }

    .margin-rigth-3ch{
        margin-left: 3ch;
    }

    .margin-right05{
        margin-right: 0.5rem;
    }

    .margin-left-0{
        margin-left: 0;
    }

    .margin-left-1{
        margin-left: 1rem;
    }

    .margin-left-1Neg{
        margin-left: -1rem;
    }

    .margin-left-2Neg{
        margin-left: -2rem;
    }

    .margin-left-3Neg{
        margin-left: -3rem;
    }

    .margin-left-1px{
        margin-left: 1px;
    }


    .margin-left-05{
        margin-left: .5rem;
    }

    .margin-right-1{
        margin-right: 1rem;
    }

    .margin-right-05{
        margin-right: .5rem;
    }

    .margin-top-05{
        margin-top: .5rem !important;
    }

    .margin-top-1px{
        margin-top: 1px !important;
    }

    .margin-top-1{
        margin-top: 1rem !important;
    }

    .margin-top-2{
        margin-top: 2rem;
    }

    .margin-top-3{
        margin-top: 3rem;
    }

    .margin-bottom-N05{
        margin-bottom: -0.5rem !important;
    }

    .margin-bottom-N1{
        margin-bottom: -1rem !important;
    }

    .margin-bottom-0{
        margin-bottom: 0;
    }

    .margin-bottom-05{
        margin-bottom: .5rem;
    }

    .margin-bottom-1{
        margin-bottom: 1rem !important;
    }

    .margin-bottom-2{
        margin-bottom: 2rem !important;
    }

    .margin-bottom-3{
        margin-bottom: 3rem !important;
    }

    .margin-bottom-4{
        margin-bottom: 4rem !important;
    }

    .margin-bottom-5{
        margin-bottom: 5rem !important;
    }

    .margin-bottom-6{
        margin-bottom: 6rem !important;
    }

    /* * Paddings*/
    .padding-0{
        padding: 0 !important;
    }

    .padding-1ch{
        padding: 1ch;
    }
    
    .padding-1-0{
        padding: 1rem 0rem;
    }

    .padding-0-1{
        padding: 0rem 1rem;
    }
    
    .padding-0-05{
        padding: 0rem .5rem;
    }

    .padding-1px{
        padding: 1px;
    }

    .padding-1{
        padding: 1rem !important;
    }

    .padding-top-0{
        padding-top: 0px;
    }

    .padding-top-0-important{
        padding-top: 0px !important;
    }

    .padding-0-auto{
        padding: 0 auto;
    }

    .padding-02{
        padding: .2rem !important;
    }

    .padding-01{
        padding: .1rem !important;
    }

    .padding-03{
        padding: .3rem !important;
    }

    .padding-05{
        padding: .5rem !important;
    }

    .padding-bottom-1{
        padding-bottom: 1rem;
    }

    .padding-bottom-2{
        padding-bottom: 2rem !important;
    }

    .padding-bottom-5{
        padding-bottom: 5rem;
    }

    .padding-bottom-0-important{
        padding-bottom: 0rem !important;
    }

    .padding-bottom-02{
        padding-bottom: .2rem !important;
    }
    
    .padding-bottom-04{
        padding-bottom: .4rem !important; 
    }

    .padding-bottom-05{
        padding-bottom: .5rem !important; 
    }

    .padding-top-01{
        padding-top: .1rem !important;
    }

    .padding-top-02{
        padding-top: .2rem !important;
    }

    .padding-top-05{
        padding-top: .5rem !important;
    }

    .padding-top-1{
        padding-top: 1rem;
    }

    .padding-top-2{
        padding-top: 2rem;
    }

    .padding-top-3{
        padding-top: 2rem;
    }

    .padding-top-4{
        padding-top: 4rem;
    }

    .padding-top-4-5{
        padding-top: 4.5rem;
    }

    .padding-top-5{
        padding-top: 5rem;
    }

    .padding-top-2-25{
        padding-top: 2.25rem;
    }

    .padding-2{
        padding: 2rem !important;
    }

    .padding-top-1-25{
        padding-top: calc(1.85rem + 1px) !important;
    }

    .padding-left-05{
        padding-left: .5rem !important;
    }

    .padding-left-1{
        padding-left: 1rem;
    }

    .padding-left-2{
        padding-left: 2rem;
    }

    .padding-left-1-important{
        padding-left: 1rem !important;
    }

    .padding-left-2-important{
        padding-left: 2rem !important;
    }

    .padding-1-0-1-2{
        padding: 1ch 0ch 1ch 2ch !important;
    }

    .padding-right-05-important{
        padding-right: .5rem !important;
    }

    .padding-right-N1{
        padding-right: -1rem;
    }

    .padding-right-05{
        padding-right: .5rem;
    }

    .padding-right-1{
        padding-right: 1rem;
    }

    .padding-right-2{
        padding-right: 2rem;
    }

    .padding-right-1-important{
        padding-right: 1rem !important;
    }

    .padding-right-2-important{
        padding-right: 2rem !important;
    }

    .padding-08-2-08-2{
        padding: .8rem 2rem;
    }

    /* * Text modifiers*/
    .text-italic{
        font-style: italic;
    }

    .text-red, .text-redHover:hover{
        color: #fa4545;
    }

    .text-white{
        color: white;
    }

    .textShadowBlack{
        filter: drop-shadow(1px 1px black);
    }

    .text-black{
        color: black !important;
    }

    .text-gray{
        color: rgb(177, 177, 177);
    }

    .text-hover-gray:hover{
        color: rgb(177, 177, 177);
    }

    .text-centered{
        text-align: center;
    }

    .text-end{
        text-align: end;
    }

    .text-start{
        text-align: start !important;
    }

    .text-justified-center{
        text-align: justify;
        text-justify: distribute;
    }

    .text-decoration-none{
        text-decoration: none;
    }

    .text-decoration-underline {
        text-decoration: underline;
    }

    .text-normal{
        font-weight: 200;
    }

    .text-light{
        font-weight: 100 !important;
    }

    .text-semiLight{
        font-weight: 200 !important;
    }

    .text-bold{
        font-weight: bold;
    }

    .cardText{
        font-size: 23px;
    }

    .textH2{
        font-size: 24px;
        font-weight: bold;
    }

    .fontWeightNormal{
        font-weight: normal;
    }

    .textSNormal{
        font-size: 21px;
    }

    .textLittle{
        font-size: 18px;
    }

    .textMini{
        font-size: 15px;
    }

    .textMicro{
        font-size: 13px !important;
    }

    .textNano{
        font-size: 12px !important;
    }

    .userSelectNone{
        user-select: none;
    }

    .vertical-align-middle{
        vertical-align: middle;
    }

.line-height200{
    line-height: 200%;
}

.line-height100{
    line-height: 100%;
}

.line-height-fitContent{
    line-height: 75%;
}

.hidden{
    visibility: hidden;
}

.display-none{
    display: none !important;
}

.overFlowHidden{
    overflow: hidden;
}

.overFlowXHidden{
    overflow-x: hidden;
}

.overFlowYHidden{
    overflow-y: hidden;
}


.overFlowAuto{
    overflow: auto;
}

.overFlowYScroll{
    overflow-y: scroll;
}

.overFlowYAuto{
    overflow-y: auto;
}

/* * Containers*/

.container{
    margin: 0 20vw;
}

.container15{
    margin: 0 15vw;
}

.container10{
    margin: 0 10vw;
}

.container5{
    margin: 0 5vw;
}

.container2{
    margin: 0 2vw;
}

.containerSkew{
    position: relative;
    --background-color: #222;
    --height: calc(207px + 10%);
    margin-bottom: calc(var(--height) / 3.2) !important;
    &::after{
        display: block;
        content: '';
        width: 120vW;
        height: var(--height);
        position: absolute;
        top: 0rem;
        left: -20vW;
        z-index: -1;
        transition: 200ms ease;
        background-color: var(--background-color);
        transform: skew(7deg, 7deg);
    }
}

/* * WRAPPERS*/

.windowNoPadding{
    background-color: #10101063;
    border-radius: 1em;
    border: #222 solid 1px;
    backdrop-filter: blur(2px);
}

.window{
    background-color: #10101063;
    border-radius: 1em;
    border: #222 solid 1px;
    padding: 1ch;
    backdrop-filter: blur(2px);
}

.popUpWindow{
    --width: 70vW;
    --height: 80vh;
    background-color: #101010dc;
    backdrop-filter: blur(4px);
    width: var(--width);
    height: var(--height);
    min-width: var(--width);
    min-height: var(--height);
    max-width: var(--width);
    max-height: var(--height);
}

.fullScreenPopUpwindow{
    border-radius: 0 !important;
    --width: 100vW;
    --height: 100vh;
}

.miniPopUpwindowMobile{
    --width: 77vW;
    --height: 30.6vh;
}

.miniPopUpwindowMobilePortrait{
    --width: 50vW;
    --height: 58.5vh;
}

.miniPopUpwindow{
    --width: 20vW;
    --height: 21vh;
}

.login{
    height: 25rem;
    width: 23rem;
    margin: auto auto;
    transition: 500ms ease;
}

.boxSize-Border{
    box-sizing: border-box;
}

.registerBtnWrapper{
    width: calc(100% - (2rem));
}

.coverPhoto{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 13px 0 13px 13px;
}

.authorInfo{
    background-color: rgb(3, 3, 3);
    height: 20%;
    width: 45%;
    border-bottom-right-radius: 10px;
}


.panelInfo{
    background-color: rgb(3, 3, 3);
    width: 100%;
    max-height: 19%;
}

.authorInfo::before,
.authorInfo::after {
    --size: 10px;
    position: absolute;
    display: block;
    content: '';
    width: var(--size);
    aspect-ratio: 1;
    background: transparent;
    background-image:
    radial-gradient(circle at 100% 100%,transparent  var(--size),rgb(3, 3, 3)  calc(var(--size) + 1px));
}

.authorInfo::before{
    left: calc(100%);
    top: 0;
}
.authorInfo::after{
    top: 100%;
    left: 0;
}

.profilePicture{
    border-radius: 50%;
}

.userPopUp, .panelSettingsPopUp, .panelSettingsPopUpMobile{
    --width: 15vW;
    --right: -15vw;
    background-color: #101010c4;
    visibility: hidden;
    width: var(--width);
    right: var(--right);
    transition: 400ms ease;
}

.panelSettingsPopUpMobile{
    --width: 100vW;
    --right: 100%;
    visibility: hidden;
    height: 100dvh;
}

.panelSettingsPopUp{
    --width: 30vW;
    --right: -30vw;
}

.userPopUpToggled, .panelSettingsPopUpToggled, .panelSettingsPopUpToggledMobile{
    --right: 0vw;
    visibility: visible;
    transition: 400ms ease;
}

.panelSettingsPopUpToggledMobile{
    visibility: visible;
    animation: 1s ease settingsPopupMobileSlide;
}

.userOptions{
    height: calc(100vh + (-2ch + -4rem + -30px));
}

.editSliderPanel{
    --width: 12rem;
    --height: 11rem;
    position: absolute;
    bottom: 0;
    right: calc(((var(--width) + 2rem) * -1) + (-2px));
    min-width: var(--width);
    max-width: var(--width);
    min-height: var(--height);
    transition: 400ms ease;
}

.noteEditSliderPanel{
    --width: 18rem;
    --height: 13rem;
}

.editSliderPanelToggled{
    right: 0;
    display: flex;
    transition: 400ms ease;
}

.noteOptions, .columnOptions{
    display: none;
}

.note:hover > .noteOptions, .panelColumn:hover > .columnOptions, .panelNoteCard:hover > .noteOptions{
    display: flex;
}

body:has(.note:hover) .columnOptions{
    display: none;
}

.accordionUserList{
    min-height: 34vh;
    height: 34vh;
    max-height: 34vh;
}

.cardCanvas{
    height: calc(100vh - 4.063rem);
    width: 100%;
}

/* * GRIDS*/

.grid{
    display: grid;
}
.col-5{
    grid-template-columns: repeat(5, 1fr);
}
.col-4{
    grid-template-columns: repeat(4, 1fr);
}
.col-3{
    grid-template-columns: repeat(3, 1fr);
}

.col-1{
    grid-template-columns: repeat(1, 1fr);
}

.col-2{
    grid-template-columns: repeat(2, 1fr);
}


.col2-1{
    grid-template-columns: 2fr 1fr;
}
.col1-2{
    grid-template-columns: 1fr 2fr;
}

.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.order-4{
    order: 4;
}

.span-2{
    grid-column: span 2;
}

.span-4{
    grid-column: span 4;
}

.span-5{
    grid-column: span 5;
}

.row-gap1{
    row-gap: 1rem;
}

.row-gap1-85{
    row-gap: 1.85rem !important; 
}

.row-gap2{
    row-gap: 2rem !important; 
}

.gap0{
    gap: 0;
}

.gap02{
    gap: .2rem;
}

.gap03{
    gap: .3rem;
}

.gap04{
    gap: .4rem;
}

.gap05{
    gap: .5rem;
}

.gap07{
    gap: .7rem;
}

.gap1{
    gap: 1rem;
}

.gap2{
    gap: 2rem;
}

.gap3{
    gap: 3rem;
}

.gap4{
    gap: 4rem;
}
.gap5{
    gap: 5rem;
}
.gap6{
    gap: 6rem;
}
.gap7{
    gap: 7rem;
}
.gap8{
    gap: 8rem;
}
.gap9{
    gap: 9rem;
}

/* * FLEXES*/

.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.flex-direction-reverse-rows{
    flex-direction: row-reverse;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: start;
}


.align-items-end{
    align-items: end;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-end{
    justify-content: end;
}

.justify-self-center{
    justify-self: center;
}

.justify-space-bwt{
    justify-content: space-between;
}

/*Displays*/
.display-block{
    display: block;
}

/* * TITLES*/

.header{
    font-size: 90px;
}

.mobileHeader{
    font-size: 40px;
}

.cardTitle{
    font-size: 70px;
}

.panelMessageTitle{
    font-size: 50px;
}

.loginTitle{
    font-size: 40px;
    margin-bottom: .6rem !important;
}

.labelTitle{
    font-size: 19px;
}

.optionalFieldText{
    font-size: 12px;
}

/* * ASSETS */

.loadingSpinner{
    --width: 1.5rem;
    --height: var(--width);
    --box-shadow-size: .3rem;
    background-color: transparent;
    border-radius: 100vW;
    width: var(--width);
    height: var(--height);
    box-shadow: 0 0 0 var(--box-shadow-size) #36363663;
    position: relative;
    animation: loading infinite 1.2s ease;
    display: block;

    &::after, &::before{
        content: '';
        position: absolute;
        display: block;
        background-color: rgba(255, 255, 255, 0.438);
        top: calc(var(--box-shadow-size) * -1);
        left: calc(var(--box-shadow-size) * -1);
        width: calc((var(--height) + (var(--box-shadow-size)*2))/2);
        height: calc((var(--height) + (var(--box-shadow-size)*2))/2);
        background: transparent;
        border-top-left-radius: 100%;
        box-shadow: inset calc(var(--box-shadow-size)/2) calc(var(--box-shadow-size)/2) white;
    }

    &::before{
        top: 0;
        left: 0;
        background: transparent;
        width: calc(var(--height)/2);
        height: calc(var(--height)/2);
        box-shadow: none;
        border-top-left-radius: 100%;
        box-shadow: 0 calc(var(--box-shadow-size)/-1.2) calc(var(--box-shadow-size)/-1.2) white, calc(var(--box-shadow-size)/-1.2) 0 calc(var(--box-shadow-size)/-1.2) white;
    }
}

/* * ANIMATIONS */

.textCarrousel{
    display: inline-block;
    animation: textCarrousel 8s linear infinite;
    transition: 15s;
    animation-delay: 5s;
}

@keyframes textCarrousel {
    16.66%{
        transform: translateX(0%);
    }

    33.33%{
        transform: translateX(-16.66%);
    }

    50%{
        transform: translateX(-33.33%);
    }

    66.66%{
        transform: translateX(-33.33%);
    }

    83.33%{
        transform: translateX(-16.66%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes settingsPopupMobileSlide {
    from{
        --right: 100%;
    }
    to{
        --right: 0;
    }
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes resaltingBorders {
    from{
        border-color: yellow;
    }

    to{
        border-color: #222;
    }
}


/* * TRANSITIONS*/

.fadeSlide, .fadeSlideUnToggled{
    content:'';
}

.fadeSlide{
    --height: 40vh;
    height: var(--height);
    transition: 500ms ease;
    overflow: hidden;
    margin-top: 1rem;
}

.fadeSlideHeightMobilePortrait{
        --height: 48vh;
}

.fadeSlideUnToggled{
    height: 0;
    transition: 500ms ease-out;
    margin-top: 0rem;
}

.fadeSlide::after{
    position: absolute;
    bottom: 0;
    z-index: 1;
    content:'';
    display:block;
    height: 0;
    width: 100%;
    background-color: #101010;
    transition: 500ms ease;
}

.fadeSlideUnToggled::after{
    background-color: #101010;
    transition: 500ms ease-out;
    height: 40vh;
}

.transition300{
    transition: 300ms ease;
}

.transition500{
    transition: 500ms ease;
}

/* * TRANSFORMS*/

.rotateNeg90Deg{
    transform: rotate(-90deg);
}

.rotate90Deg{
    transform: rotate(90deg);
}

.willChange{
    will-change: transform;
}

.touch-action-none{
    touch-action: none;
}

/* * Positions*/

.positionAbsolute{
    position: absolute !important;
}

.positionRelative{
    position: relative;
}

.positionFixed{
    position:fixed;
}

.positionSticky{
    position:sticky;
}


.position-l0-t0{
    left: 0;
    top: 0;
}

.top-0{
    top: 0;
}

.top-100PerNeg{
    top: -100%;
}

.top-1{
    top: 1rem;
}

.top-2px{
    top: 2ps;
}

.top-40px{
    top: 40px;
}

.left-100Per{
    left: 100%;
}

.left-50Per{
    left: 50%;
}

.left-50PerPlus05{
    left: calc(50% + .5rem);
}

.left-0{
    left: 0;
}

.left-1Neg{
    left: -1rem;
}

.left-6vWNeg{
    left: -6vW;
}

.btm-0{
    bottom: 0;
}

.btm-100Per{
    bottom: 100%;
}

.btm-110Per{
    bottom: 110%;
}

.btm-LoadingIconInBtn{
    bottom: calc(1ch + (1.2rem / 1.45) - (((.18rem * 2) + .8rem) / 2));
}

.right-0{
    right: 0;
}

.btm-1{
    bottom: 1rem;
}

.btm-2{
    bottom: 2rem;
}

.btm-05{
    bottom: .5rem;
}

.btm-Neg-1-3{
    bottom: -1.3rem;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.inverted{
    transform: rotate(180deg);
}

.diagonal{
    transform: rotate(45deg);
}

/* * Z-INDEXES*/
.z-index-0{
    z-index: 0;
}
.z-index-1{
    z-index: 1;
}

.z-index-1Neg{
    z-index: -1;
}

.z-index-2{
    z-index: 2;
}

.z-index-3{
    z-index: 3;
}

/* * Cards*/

.cardGradient{
    --right: -140px;
    width: 500px;
    height: 500px;
    background: radial-gradient(#4dc1ffb4 0%, #10101000 75%);
    position: absolute;
    bottom: -140px;
    right: var(--right);
    z-index: -1;
}

.reverseCardGradient{
    --right: -2810px;
}

.cardHeight{
    min-height: 14rem;
    height: 14rem;
    max-height: 14rem;
}

.greenGradient{
    background: radial-gradient(hsla(130, 100%, 65%, 0.706) 0%, #10101000 75%);
}

.purpleGradient{
    background: radial-gradient(hsla(278, 100%, 65%, 0.706) 0%, #10101000 75%);
}

.panelCard{
    background-color: #000000;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 12.5rem;
    aspect-ratio: 4/3;
    border-radius: 9px;
}

.cardProfilePicture{
    width: fit-content;
    aspect-ratio: 1/1;
}

.planColoredPart{
    min-height: 10rem;
}

.planBlue{
    background-color: hsl(209, 100%, 15%);
}

.planGreen{
    background-color: hsl(149, 100%, 10%);
}

.planPurple{
    background-color: hsl(270, 100%, 15%);
}

.planYellow{
    background-color: hsl(50, 100%, 15%);
}

.userList{
    border-top:#222 solid 1px;
    border-bottom:#222 solid 1px;
    min-height: 4rem;
}

.panelNoteCard{
    position: absolute;
    box-shadow: 3px 3px 10px rgb(56, 56, 56);
    min-width: 10rem;
    max-width: 20rem;
    max-height: 30rem;
}

.panelpdfNoteCard{
    position: absolute;
    box-shadow: 3px 3px 10px rgb(56, 56, 56);
    min-width: 10rem;
    max-width: 10rem;
    max-height: 20rem;
}

/* * INPUTS*/

.containerCheckbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containerCheckbox input:checked ~ .checkmark:after {
    display: block;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #101010dc;
    border-radius: 4px;
    border: #242424 1px solid;
}  

.containerCheckbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containerCheckbox input:checked ~ .checkmark {
    background-color: #101010ec;
}

/* * BUTTONS*/
.btn{
    background-color: #101010;
    border-radius: 9px;
    border: #222 solid 1px;
    padding: 1ch;
    width: fit-content;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
}

.miniBtn{
    padding: .3rem;
    padding-left: .4rem;
    padding-right: .4rem;
}

.btn > p{
    font-weight: 500;
}

.btn:hover{
    border: white solid 1.5px;
    color: white;
}

.btn-large{
    padding-left: 1.5ch !important;
    padding-right: 1.5ch !important;
}

.btnDisabled {
    color: rgb(50, 50, 50) !important;
    background: none !important;
    background: none !important;
    background-color: #000000;
}

.btn:hover.btnGradientBluePurple{
    background:
    radial-gradient(ellipse at top, #4dc1ff, transparent),
    radial-gradient(ellipse at bottom, hsla(278, 100%, 65%, 0.706), transparent);
}

.btnGradientBluePurple{
    background:
    radial-gradient(ellipse at top, #2eb6ff, transparent),
    radial-gradient(ellipse at bottom, hsla(278, 100%, 58%, 0.706), transparent);
}

.btnNotHover:hover{
    color: black !important;
    border: #222 solid 1px !important;
    background:
    radial-gradient(ellipse at top, #2eb6ff, transparent),
    radial-gradient(ellipse at bottom, hsla(278, 100%, 58%, 0.706), transparent) !important;
}

.btnNotHoverNotGradient:hover{
    color: black !important;
    border: #222 solid 1px !important;
}

.btnNotHoverNotGradientNoBlackText{
    border: #222 solid 1px !important;
}

.ArrowBtn img{
    position: relative;
    right: 1px;
    width: 20px;
}

.smallPlusBtn{
    --BtnSize: 2.5rem !important;
    --lines_lenght: 1.6rem !important;
    --lines_width: .2rem !important;
    --plus_border_radius: 3px !important; 
}

.nanoPlusBtn{
    --BtnSize: 1.64rem !important;
    --lines_lenght: .9rem !important;
    --lines_width: .1rem !important;
    --plus_border_radius: 1px !important; 
}

.PlusBtn, .SearchBtn, .minusBtn{
    --plus_color: white;
    --btn-color: #111;
    --lines_lenght: 2rem;
    --lines_width: 4px;
    --BtnSize: 4.5rem;
    --plus_border_radius: 1px; 
    background-color: var(--btn-color);
    width: var(--BtnSize);
    height: var(--BtnSize);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    border: none;
}

.PlusBtn::after{
    content: '';
    display: block;
    background-color: var(--plus_color);
    width: var(--lines_width);
    height: var(--lines_lenght);
    position: absolute;
    left: calc(var(--BtnSize) / 2 - (var(--lines_width) / 2));
    top: calc((var(--BtnSize) - var(--lines_lenght) ) / 2);
    border-radius: var(--plus_border_radius);
}

.PlusBtn::before, .minusBtn::before{
    content: '';
    display: block;
    background-color: var(--plus_color);
    width: var(--lines_lenght);
    height: var(--lines_width);
    position: absolute;
    left: calc((var(--BtnSize) - var(--lines_lenght) ) / 2);
    top: calc(var(--BtnSize) / 2 - (var(--lines_width) / 2));
    border-radius: var(--plus_border_radius);
}

.dragPlus{
    position: absolute;
    display: none;
}

.dragPlus > div{
    --lines_lenght: 4rem;
    --lines_width: 8px;
    --plus_border_radius: 2.5px;
}

.whitePlus, .whiteIcon{
    --plus_color: white;
}

.transparentBtn{
    --btn-color: transparent; 
}

.medium-size{
    --lines_lenght: 1.2rem;
    --lines_width: 2.5px;
    --BtnSize: 2.25rem;
}

.userBtn:hover{
    color: #4dc2ff;
    transition: 200ms ease;
}

.SearchBtn, .searchSizeBtn{
    --BtnSize: 2.2rem;
    box-sizing: border-box;
}

.btnHover{
    border: #242424 2px solid;
}

.btnOnlyHover{
    border: transparent 2px solid;
}

.border1px{
    border-width: 1px !important;
}

.shadowBtnBorder1px:hover{
    box-shadow: 0px 0px 0px 1px white;
}

.shadowBtnBorder:hover{
    box-shadow: 0px 0px 0px 2px white;
}

.SearchBtn:hover, .btnHover:hover, .btnOnlyHover:hover{
    border: white 2px solid;
}

.underlinedBtn{
    background-color: #101010;
    border-bottom: transparent solid 2px;
    padding: 1ch;
    width: fit-content;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.underlinedBtn:hover, .underlinedBtnToggled {
    border-bottom: white solid 2px;
    background-color: #141414;
}

.toggleBtn{
    --markerPos: 0%;
    --min-width: 9.9rem;
    --padding: .2rem;
    position: relative;
    min-width: var(--min-width);
    min-height: 2.2rem;
    height: 2.2rem;
    padding: var(--padding);
}

.toggleBtn::after, .toggleOption{
    text-align: center;
    min-width: calc(var(--min-width) / 2);
    height: 100%;
    border-radius: .78rem;
    padding-left: .4rem;
    padding-right: .4rem;
}

.toggleBtn::after{
    content: '';
    display: block;
    height: calc(100% - var(--padding)*2);
    z-index: 0;
    position: absolute;
    transform: translateX(var(--markerPos));
    background-image:     
    radial-gradient(ellipse at top, #2eb6ff, transparent),
    radial-gradient(ellipse at bottom, hsla(278, 100%, 58%, 0.706), transparent);
    transition: 300ms ease;
}

.btnBorder{
    border: #222222 1px solid;
}

/* * FORMS*/
.errorMessageLabel{
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    color: rgb(250, 69, 69);
}

/* * IMAGES */

.brightness55{
    filter: brightness(55%);
}

.brightness45{
    filter: brightness(45%);
}

.brightness35{
    filter: brightness(35%);
}

.creationCard p{
    filter: drop-shadow(1px 1px black);
}

.creationCard:hover .diagonalImgCard{
    --percentage: calc(-61.67 / 100);
    right: calc(((var(--width) + (var(--width) * var(--percentage)))) * (-1));
    bottom: calc(((var(--width) + (var(--width) * var(--percentage)))) * (-1));
    transition: 200ms ease;
}

.diagonalImgCard{
    --width: 300px;
    width: var(--width);
    aspect-ratio: 1/1;
    position: absolute;
    right: calc(((var(--width) + (var(--width) * -0.4667))) * (-1));
    bottom: calc(((var(--width) + (var(--width) * -0.4667))) * (-1));
    transform: rotate(-45deg);
    transition: 200ms ease;
}

.panelCardImg{
    --width: 300px;
    --percentage: calc(-70 / 100) !important;
}

.miniUserPicture{
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.mobileIconSize{
    width: 22px;
}

nav > a.mobileIconSize {
    --width: 28px;
    &:first-child{
        width: var(--width);
        & > img{
            width: var(--width);
        }
    }
    &:last-of-type{
        width: var(--width);
        & > img{
            width: var(--width);
        }
    }
}

.iconSize{
    width: 18px;
}

.iconSize-2{
    width: 16px !important;
}

.circular{
    border-radius: 50%;
}

.userProfilePicture{
    --size: 300px;
    min-width: var(--size);
    max-width: var(--size);
    min-height: var(--size);
    max-height: var(--size);
}

.mobileProfilePicture{
    --size: 60px;
}

.mobileEditProfilePicture{
    --size: 100px;
}

.object-fit-cover{
    object-fit: cover;
}

.drag::before{
    content: '';
    justify-content: center;
    font-size: large;
    line-height: 900%;
    color: white; 
    display: flex;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: black;
    min-width: 318px;
    min-height: 318px;
    margin: rem;
    border-radius: 50%;
    border: #f4f4f4 2px dashed;
    animation: rotateBorder 20s linear infinite;
}

label.drag .dragText {
    display: block;
}

label.drag .dragPlus{
    display: flex;
}

.dragText{
    display: none;
    font-size: large;
}

@keyframes rotateBorder {
    100% {
        transform: rotate(-360deg);
    }
}

/* * SCROLL BARS */

.darkscrollBar::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.darkscrollBar::-webkit-scrollbar-track {
    background: transparent;
}

.darkscrollBar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0px;
    border: 2px solid transparent;
}

.darkscrollBar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* * MISCELANEOUS*/

.cursor-pointer{
    cursor: pointer;
}

.cursor-notAllowed{
    cursor:not-allowed;
}

.cursor-wait{
    cursor: wait;
}

.cursor-none{
    cursor: none !important;
}

.pointer-events-none{
    pointer-events: none;
}

.max-resize-vertical-40vh{
    resize: vertical;
    max-height: 40vh;
}

.resize-none{
    resize: none;
}

/* * BORDERS*/

.border-none, .border-none:focus{
    border: none;
    outline: none;
}

.darkBorder, .darkFocusBorder, darkFocusBorder:focus{
    border: #242424 2px solid;
}

.popUpseparator{
    border-top:#222 solid 1px;
}

.borderLR{
    border-left: #222 solid 1px;
    border-right: #222 solid 1px;
}

.border-radius-inherit-0-0-0{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.border-top-right-radius-0{
    border-top-right-radius: 0;
}

.border-bottom-right-radius-0{
    border-bottom-right-radius: 0;
}

.border-radius-0{
    border-radius: 0;
}

.border-radius-0-0-0-h{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.border-radius-0-0-h-0{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.border-radius-h-0-0-0{
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


.border-radius-50{
    border-radius: 50%;
}

.aFocus-border-radius-50:focus{
  -webkit-tap-highlight-color: transparent;
}

.border-radius-9{
    border-radius: 9.9999px;
}

.border-raduis-1em{
    border-radius: 1em;
}

.hoverWhiteBorder:hover{
    border: white 1px solid;
}

/* * FONTS*/
@font-face {
    font-family: 'DM-Sans';
    src: url('assets/fonts/DMSans-VariableFont_opsz,wght.woff2') format('woff2'),
    url('assets/fonts/DMSans-VariableFont_opsz,wght.woff') format('woff');
}