*{
    font-family: DM-Sans;
}

html{
    height: 100vh;
}

body{
    margin: 0;
    /*background-color: #101010;*/
    /*background-color: hsl(0, 100%, 36%);*/
    background-color: #000000ed;
    opacity: 0.9;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, rgba(0, 0, 0, 0.93) 33px ), repeating-linear-gradient( #00000055, #000000 );
    background-repeat: no-repeat;
}

/*LENGUAGE MODIFICATIONS*/
html:not([lang="en"]) .header{
    font-size: 63px;
}

html:not([lang="en"]) .lenguajeSize{
    font-size: 50px;
}

/*LOGO STYLES*/

.logo{
    width: 2rem;
    height: 3rem;
    user-select: none;
    pointer-events: none;
    transition: 500ms ease;
}

.logoContainer{
    display: flex;
    gap: 15px;
    margin-left: 0rem;
}

.logoSeparator{
    margin-top: 4%;
    width: 1px;
    height: 75%;
    background-color: #f0f0f046;
}

.spinningLogo{
    width: 2rem;
    height: 3rem;
    transition: 300ms ease;
}

.spinningLogo:hover{
    transform: rotateZ(-360deg);
    transition: 300ms ease;
}

body:has(.spinningLogo:hover) .logoHeader{
    color: #4dc2ff;
    transition: 200ms ease;
}

/*NAVBAR STYLES*/

.navbar{
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #0f0f0f;
    border-bottom: #242424 1px solid;
    display: flex;
    justify-content: space-between;
}

.navlinks{
    display: flex;
    gap: 3rem;
}

.navlink{
    display: inline;
    vertical-align: bottom;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    vertical-align: bottom;
    line-height: 200%;
    transition: 200ms ease;
}

.navlink:hover{
    color: #4dc2ff;
    transition: 200ms ease;
}

.navLinkSeparator{
    color: #f0f0f0bb;
    font-size: 25px;
    user-select: none;
}

.navLinkSeparator::after{
    content: "/";
}

/*UTILS*/
    /*Sizes*/
    .w-fitContent{
        width: fit-content;
    }

    .h-fitContent{
        height: fit-content;
    }

    /*Margins*/
    .margin-0{
        margin: 0;
    }

    .margin-0-auto{
        margin: 0 auto;
    }

    .margin-rigth-3ch{
        margin-left: 3ch;
    }

    .margin-right05{
        margin-right: 0.5rem;
    }

    .margin-top-2{
        margin-top: 2rem;
    }

    .margin-bottom-1{
        margin-bottom: 1rem;
    }

    /*Paddings*/

    .padding-1{
        padding: 1rem;
    }

    .padding-2{
        padding: 2rem;
    }

    .padding-top-1-25{
        padding-top: calc(1.85rem + 1px) !important;
    }

    .padding-left-2{
        padding-left: 2rem;
    }

    .padding-1-0-1-2{
        padding: 1ch 0ch 1ch 2ch !important;
    }

    /*Text modifiers*/
    .text-white{
        color: white;
    }

    .text-centered{
        text-align: center;
    }

    .text-justified-center{
        text-align: justify;
        text-justify: distribute;
    }

    .text-light{
        font-weight: 100;
    }
    .text-bold{
        font-weight: bold;
    }

    .cardText{
        font-size: 23px;
    }

.line-height200{
    line-height: 200%;
}

.line-height-fitContent{
    line-height: 75%;
}

.hidden{
    visibility: hidden;
}

.overFlowHidden{
    overflow: hidden;
}

/*Containers*/

.container{
    margin: 0 20vw;
}

/*WRAPERS*/
.window{
    background-color: #10101063;
    border-radius: 1em;
    border: #222 solid 1px;
    padding: 1ch;
    backdrop-filter: blur(2px);
}

/*GRIDS*/

.grid{
    display: grid;
}
.col2-1{
    grid-template-columns: 2fr 1fr;
}
.col1-2{
    grid-template-columns: 1fr 2fr;
}

.row-gap1{
    row-gap: 1rem;
}

.gap1{
    gap: 1rem;
}

.gap2{
    gap: 2rem;
}

/*FLEXES*/

.flex{
    display: flex;
}

.justify-space-bwt{
    justify-content: space-between;
}

/*TITLES*/

.header{
    font-size: 90px;
}

.cardTitle{
    font-size: 70px;
}

/*Positions*/

/*Cards*/

.cardGradient{
    width: 500px;
    height: 500px;
    background: radial-gradient(#4dc1ffb4 0%, #10101000 75%);
    position: absolute;
    bottom: -140px;
    right: -140px;
    z-index: -1;
}

.cardHeight{
    height: 14rem;
}

.greenGradient{
    background: radial-gradient(hsla(130, 100%, 65%, 0.706) 0%, #10101000 75%);
}

.purpleGradient{
    background: radial-gradient(hsla(278, 100%, 65%, 0.706) 0%, #10101000 75%);
}

/*FONTS*/
@font-face {
    font-family: 'DM-Sans';
    src: url('assets/fonts/DMSans-VariableFont_opsz,wght.woff2') format('woff2'),
    url('assets/fonts/DMSans-VariableFont_opsz,wght.woff') format('woff');
}